@use 'variables';

html {
	box-sizing: border-box;
	tab-size: 4;
	height: 100%;
	scroll-behavior: smooth;
}

[id] {
	scroll-margin-top: 64px;
}

*,
*::before,
*::after {
	box-sizing: inherit;
	margin: 0;
	padding: 0;
}

main {
	flex-grow: 1;
}

body {
	line-height: 1;
	font-family: system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue',
		Arial, 'Noto Sans', 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	background-color: var(--p-primary-800);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: #fff;
	height: 100%;
}
.page {
	display: flex;
	flex-direction: column;
	min-height: 100vh;

	&__description {
		font-size: 20px;
		line-height: 1.2;
		margin-top: 24px;
	}
}
img,
picture,
video,
canvas,
svg {
	display: block;
	max-width: 100%;
	height: auto;
}

svg [fill]:not([fill='none']) {
	fill: currentColor;
}

svg *[stroke]:not([stroke='none']) {
	stroke: currentColor;
}

button,
input,
select,
textarea {
	font: inherit;
	color: inherit;
	background: none;
	border: 0;
	outline: none;
	appearance: none;
}

button {
	cursor: pointer;
	background: transparent;
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
ol {
	list-style: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	line-height: 1.1;
}

h1 {
	font-weight: 700;
	font-size: 24px;

	@media screen and (min-width: 768px) {
		font-size: 26px;
	}

	@media screen and (min-width: 1280px) {
		font-size: 42px;
	}

	@media screen and (min-width: 1920px) {
		font-size: 56px;
	}
}

h2 {
	font-size: 22px;
	font-weight: 700;

	@media screen and (min-width: 1280px) {
		font-size: 32px;
	}

	@media screen and (min-width: 1920px) {
		font-size: 42px;
	}
}

h3 {
	font-weight: 700;
	font-size: 18px;

	@media screen and (min-width: 768px) {
		font-size: 20px;
	}

	@media screen and (min-width: 1280px) {
		font-size: 24px;
	}

	@media screen and (min-width: 1920px) {
		font-size: 32px;
	}
}

[hidden] {
	display: none !important;
}

fieldset {
	border: 0;
	margin: 0;
	padding: 0;
}

@media (prefers-reduced-motion: reduce) {
	*,
	*::before,
	*::after {
		animation-duration: 0.01ms !important;
		animation-iteration-count: 1 !important;
		transition-duration: 0.01ms !important;
		scroll-behavior: auto !important;
	}
}

.container {
	max-width: 420px;
	width: 100%;
	margin: 0 auto;
	padding: 0 15px;

	@media screen and (min-width: 768px) {
		max-width: 738px;
	}

	@media screen and (min-width: 1280px) {
		max-width: 1158px;
	}

	@media screen and (min-width: 1920px) {
		max-width: 1660px;
	}
}

.btn {
	display: flex;
	padding: 14px 40px;
	background-color: var(--p-primary-500);
	color: #fff;
	text-align: center;
	border-radius: 100px;
	text-decoration: none;
	transition: background-color 0.3s ease;
	font-size: 20px;
	max-width: max-content;
	justify-content: center;

	&__outline {
		background-color: transparent;
		border: 1px solid var(--p-primary-500);
		color: var(--p-primary-500);

		&:hover {
			background-color: var(--p-primary-500);
			color: #fff;
		}
	}

	&--center {
		margin-left: auto;
		margin-right: auto;
	}

	&--mt {
		margin-top: 16px;

		@media screen and (min-width: 1280px) {
			margin-top: 24px;
		}

		@media screen and (min-width: 1920px) {
			margin-top: 40px;
		}
	}

	&--accent {
		background-color: #fff;
		color: var(--p-text-secondary);
	}

	&--with-icon {
		&::after {
			content: '';
			display: inline-block;
			width: 24px;
			height: 24px;
			margin-left: 12px;
			background-image: url('~/assets/icons/right.svg');
			background-size: contain;
			background-repeat: no-repeat;
			vertical-align: middle;
			transition: 0.4s ease;
		}

		&:hover {
			&::after {
				transform: translateX(4px);
			}
		}
	}

	&.icon-light {
		&::after {
			filter: invert(1);
		}
	}
}

.section {
	padding: 50px 0;
	overflow-x: clip;

	&:first-of-type {
		margin-top: 100px;
	}

	@media screen and (min-width: 1920px) {
		padding: 70px 0;
	}

	&--accent {
		background: var(
			linear-gradient(145deg, #1e62c7 20.79%, #0671e0 116.73%),
			#fff
		);
		color: #fff;

		.section__title {
			text-align: center;
		}
	}

	.section__header {
		margin-bottom: 24px;

		@media screen and (min-width: 1280px) {
			margin-bottom: 40px;
		}

		&-row {
			display: flex;
			align-items: center;
			justify-content: space-between;
			gap: 16px;
			flex-wrap: wrap;
		}
	}

	.section__title {
		margin-bottom: 16px;

		@media screen and (min-width: 1280px) {
			margin-bottom: 24px;
		}
	}

	.section__description {
		max-width: 640px;
		font-size: 18px;
		font-style: normal;
		font-weight: 400;
		line-height: 1.3;
		color: #fff;
	}

	.section__nav {
		display: flex;
		gap: 12px;

		.nav-btn {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			background-color: var(--p-primary-500);
			color: #fff;
			border-radius: 50%;
			transition: 0.3s ease;

			@media screen and (min-width: 1280px) {
				width: 42px;
				height: 42px;
			}

			&.swiper-button-disabled {
				background-color: var(--p-surface-subtle);
				color: #cdcdcd;
			}
		}

		.nav-btn--prev {
			transform: rotate(180deg);
		}
	}
}

.swiper {
	overflow: visible;
}

.p-image {
	@include default-border-radius;
	overflow: hidden;
}

.p-image-preview {
	cursor: pointer;
}

.liquidGlass-effect {
	position: absolute;
	z-index: 0;
	inset: 0;
	backdrop-filter: blur(12px);
	filter: url(#glass-distortion);
	overflow: hidden;
}

.liquidGlass-tint {
	display: flex;
	align-items: center;
	z-index: 1;
	position: absolute;
	inset: 0;
	background: rgba(255, 255, 255, 0.1);
	box-shadow: inset 0.75px 0.75px 0.75px 0 rgba(159, 199, 247, 0.6),
		inset -0.75px -0.75px 0.75px 0.75px rgba(159, 199, 247, 0.6);

	border-top-left-radius: 16px;
	border-bottom-right-radius: 16px;

	@media (min-width: 1280px) {
		border-top-left-radius: 24px;
		border-bottom-right-radius: 24px;
	}
}

.wrapper {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	position: relative;
	@include default-gap;

	@media screen and (min-width: 768px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media screen and (min-width: 1280px) {
		grid-template-columns: repeat(4, 1fr);
	}
}

.modal {
	width: clamp(300px, 90%, 1600px);

	&--form {
		width: clamp(300px, 90%, 550px);

		.form-container {
			width: 100%;
		}
	}

	&__wrapper {
		display: flex;
		@include default-gap;
	}

	&__image {
		overflow: hidden;
		@include default-border-radius;
		width: 100%;
		height: auto;
		flex: 1;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
			object-position: center;
		}
	}

	&__content {
		flex: 1;
	}
}

.content {
	font-size: 16px;

	@media screen and (min-width: 1920px) {
		font-size: 18px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		margin-bottom: 1rem;
	}

	p {
		margin-bottom: 1rem;
		line-height: 1.3;
		color: var(--p-text-secondary);
	}

	ul {
		margin-bottom: 1rem;

		li {
			display: flex;
			align-items: flex-start;
			margin-bottom: 1rem;
			line-height: 1.5;
			color: var(--p-text-secondary);

			&::before {
				content: '';
				display: block;
				width: 10px;
				height: 10px;
				aspect-ratio: 1/1;
				background-color: var(--p-primary-400);
				border-radius: 50%;
				margin-right: 0.5rem;
				margin-top: 0.5rem;
			}
		}
	}

	p:has(> img) {
		display: flex;
		align-items: center;
		@include default-gap;
		flex-wrap: wrap;

		img {
			display: block;
			width: 100%;

			@media screen and (min-width: 1280px) {
				width: calc(50% - 12px);
			}

			@media screen and (min-width: 1920px) {
				width: calc(50% - 16px);
			}
		}
	}

	img {
		@include default-border-radius;
	}
}

.p-overlay-mask {
	backdrop-filter: blur(5px);
}
